<div class="container" align="center" ng-init="vis=false">
    <p>First Name: <input type="text" ng-model="user.fname"></p>
    <p>Last Name: <input type="text" ng-model="user.lname"></p>
    <p>CNP: <input type="number" ng-model="user.cnp"></p>
    <p>Age: <input type="number" ng-model="user.age"></p>

    <button class="btn btn-default" ng-click="back()">Back</button>
    <button class="btn btn-default" ng-click="resetInput()">Reset</button>
    <button class="btn btn-default" ng-click="saveInput()">Save</button>
    <button class="btn btn-default" ng-click="vis=!vis">Show/Hide user list</button>

    <p></p>

    <div class="jumbotron" align="center" ng-if="vis">
        <table class="table table-striped">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>CNP</th>
                <th>Age</th>
            </tr>
            <tr ng-repeat="user in inputList">
                <td>{{user.fname}}</td>
                <td>{{user.lname}}</td>
                <td>{{user.cnp}}</td>
                <td>{{user.age}}</td>
            </tr>
        </table>
    </div>
</div>